@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #030C11;
    overflow-x: hidden;
    color: #fff;
}
main {
   padding-top: 10vh;
   padding-left: 240px;
   padding-right: 120px;
}
.add-blog-btn {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.add-msg-btn button {
    margin-right: 80px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #87a330;
}
.msg-dashboard {
    margin-top: 70px;
    background-color: #1e1e1e;
    border-radius: 30px;
    padding-top: 30px;
    overflow: auto;
}
.msg-dashboard::-webkit-scrollbar{
    width:0.5rem;
    height: 0.5rem;
}
.msg-dashboard::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #d1d1d1;
    visibility: hidden;
}
.msg-dashboard:hover::-webkit-scrollbar-thumb{
   visibility: visible;
}
table th td {
    font-weight: 800;
}
table tr td{
    padding-right: 50px;
    padding-bottom: 20px;
}
.msg-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action .fa-pen-to-square {
    color: #87a330;
}
.action .fa-delete-left {
    color: red;
}

/*reply pop up*/
.message-reply{
    position: fixed;
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    top: 10%;
    left: 40%;
    display: none;
    z-index: 999;
}
.message-reply i{
    padding-bottom: 5px;
    color: #fff;
}
.reply-inputs input{
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    background: #030C11;
    border-radius: 30px;
    height: 100px;
    color: #fff;
}
.reply-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.reply-btn button{
    border: none;
    background-color: #87a330;
    font-weight: 800;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
}
main.active, header.active {
    filter: blur(12px);
}
main.active {
    background-color: #030C11;
}
.message-reply.active {
    display: block;
}
/*responsive*/
@media (max-width: 800px){
    main {
        padding-left: 70px;
        padding-right: 30px; 
    }
    .logo {
        padding-left: 10px;
    }
}
@media(max-width:768px){
    .message-reply {
        left: 20%;
    }
}