@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #030C11;
    overflow-x: hidden;
    color: #fff;
}
main {
   padding-top: 5vh;
   padding-left: 120px;
   padding-right: 120px;
   display: flex;
   justify-content: center;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}
.top-left{
    display: flex;
    flex-direction: column;
    
}
.avatar {
    border: 2px #87A330 solid;
    border-radius: 110px;
    height: 300px;
    width: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img{
    height: 230px;
    width: 206px;
        
}
.top-left .btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.top-left .btn3 button{
    border: none;
    border-radius: 5px;
    background-color: #F18805;
    padding: 5px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
.top-left .btn3 button p {
    font-weight: 1000;
    font-size: medium;
}
.top-left .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-left .social-icons i {
    color: #87A330;
    font-size: 30px;
    
}
@media (max-width: 800px) {
    
    .top{
        flex-direction: column;
    }
    .top-left {
        flex-direction: row;
    }
    .top-left .btn3{
        flex-direction: column;
    }
    .top-left .social-icons {
        flex-direction: column;
    }
    .introduction {
        font-size: 22px;
    }
    .why-words {
        width: 300px;
    }

}
.introduction {
    padding-bottom: 70px;
}
.intro {
    font-size: 36px;
    font-weight: 700;
}
.intro b {
    color: #F18805;
}
.what-i-am {
    font-size: 36px;
}
.why {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 50px;
}
.why-words {
    width: 290px;
    font-weight: lighter;
}
.why-words h2 {
    padding-bottom: 10px;
}
.why-btn {
    display: flex;
    align-items: center;
}
.btn-why {
    display: flex;
    align-items: center;
    background-color: #F18805;
    color: #030C11;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 1000; 
}
.stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.stat-nbr p {
    font-size: 45px;
}
.stat-word p{
    font-size: 24px;
}
.about-tophe {
    border: 5px #87A330 solid;
    border-radius: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
}

.about-header p{
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 10px;
}
.about-word {
    width: 359px;
}
.about-word p{
    font-size: 16px;
    font-weight: lighter;
}
.about-link a{
    font-size: 24px;
    color: #F18805;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.skill-header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.skill-header p{
    font-size: 24px;
    font-weight: 800;
}
.skill-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.skill-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 30px;
    border: 3px #F18805 solid;
    padding: 10px;
    height: 190px;
    width: 190px;
    padding-left: 10px; 
    padding-right: 10px;
}
.skill-card-icon i{
    font-size: 75px;
    color: #F18805;
}
.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 30px;
}
.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}
.blog-header p {
    color: #F18805;
    font-size: 20px;
}
.blog-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.blog-card {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 19px;

}
.blog-image img{
    width: 340px;
    height: 180px;
    border-radius: 19px;
}
.blog-describe {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog-caption p{
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 900;
}
.blog-describe-stat {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blog-likes, .blog-comments {
    display: flex;
    font-size: 22px;
}
.blog-comments i, .blog-likes i {
    font-size: 22px;
    padding-right: 5px;
}
.blog-comments p,.blog-likes p{
    font-size: 22px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 150px;
}
.project-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.project-card {
    display: flex;
    align-items: left;
    justify-content: flex-end;
    width: 340px;
    height: 402px;
    border-radius: 19px;
    background-size: cover;
    background-repeat: no-repeat;
}
#project-card-001 {
    background-image: url(../resources/8machine-_-LhNDEs4MP5w-unsplash.jpg);
}
#project-card-002{
    background-image: url(../resources/stock-photo--d-illustration-of-a-cyberpunk-scary-creature-with-red-luminous-eyes-in-a-night-scene-silhouette-1580821525.jpg);
}
#project-card-003{
    background-image: url(../resources/serene-arches-zW37K3MrZk0-unsplash.jpg);
    
    background-repeat: no-repeat;
}
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}
.project-header p {
    color: #F18805;
    font-size: 20px;
}
.project-card-header h2{
color: #87A330;
}
.project-card-btn button {
    border: none;
    background-color: #87A330;
    color: #030C11;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    width: 100%;
    padding: 30px 30px 20px 0px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #52796F;
}
footer i{
    color: #52796F;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}
