a{
    text-decoration: none;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: none ;
    background-color: #030C11;
}

.logo {
    font-size: 40px;
    color: #F18805;
    font-weight: 700;    
}
.sep {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    flex: 1;
}
.navbar {
    flex: 2;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li {
    padding-left: 40px;
}
li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
}
.active {
    color: #52796F;
}
#nav-button {
    
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-nav {
    display: flex;
}
.nav-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;   
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border-radius: 45px;
    margin: 0 auto;
}
.nav-button:hover {
    background-color: #1B5C8B;
}

.btn2{
    background-color: #87A330;
    width: 100px;
    text-align: center;
}
#nav-button {
    display: flex;
    margin-left: 50px;
    padding-right: 100px;
}
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    z-index: 999;
    background-color: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sidebar li{
    width: 100%;
    padding: 10px;
}
.sidebar a {
    width: 100%;
}
.sidebar #nav-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
svg{
    fill: #fff;
}
.menu-icon {
    display: none;
}
@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
    #hide-on-mobile {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    ul {
        justify-content: flex-end;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}